

.miForm{
    background-color: aquamarine;
}

.miColor{
    background-color: rgb(144, 70, 137);
}

.centrar{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}